<div class="col-md-12"><h2>Profile: <%= @user.name %></h2>

  <div class="row mtl">
    <div class="col-md-3">
      <div class="form-group">
        <div class="text-center mbl"><img src="<%= @user.image.remote_url unless current_user.image.blank? %>" alt="" class="img-responsive"></div>
        <div class="text-center mbl"><a href="#" class="btn btn-green"><i class="fa fa-upload"></i>&nbsp;
          Upload</a></div>
      </div>
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <td>User Name</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>Status</td>
              <td><span class="label label-success">Active</span></td>
            </tr>
            <tr>
              <td>User Rating</td>
              <td><i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star text-yellow fa-fw"></i></td>
            </tr>
            <tr>
              <td>Member Since</td>
              <td><%= @user.created_at.to_datetime.strftime("%B %d, %Y") %></td>
            </tr>
          </tbody>
        </table>
        <ul class="social-icons list-unstyled list-inline mbl mtl">
          <li><a href="<%= user_omniauth_authorize_path("facebook") %>" data-hover="tooltip" data-original-title="facebook" class="facebook"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-edit" data-toggle="tab">Edit Profile</a></li>
        </ul>
        <div id="generalTabContent" class="tab-content">
          <div id="tab-edit" class="tab-pane fade in active">



              <%= form_for(@user,html: {:class => "form-horizontal"}) do |f| %>
              <%= f.file_field :image ,:style => "display:none" %>
              <h3>Account Setting</h3>

              <div class="form-group"><label class="col-sm-3 control-label">Email</label>

                <div class="col-sm-9 controls">
                  <div class="row">
                    <div class="col-xs-9">
                      <%= f.text_field :email, :class => "form-control" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-3 control-label">Username</label>

                <div class="col-sm-9 controls">
                  <div class="row">
                    <div class="col-xs-9"><%= f.text_field :username, :class => "form-control" ,:placeholder => "Username" %></div>
                  </div>
                </div>
              </div>
              <hr>
              <h3>Profile Setting</h3>

              <div class="form-group"><label class="col-sm-3 control-label">First Name</label>

                <div class="col-sm-9 controls">
                  <div class="row">
                    <div class="col-xs-9"><%= f.text_field :first_name, :class => "form-control" ,:placeholder => "First Name" %></div>
                  </div>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-3 control-label">Last Name</label>

                <div class="col-sm-9 controls">
                  <div class="row">
                    <div class="col-xs-9"><%= f.text_field :last_name, :class => "form-control" ,:placeholder => "Last Name" %></div>
                  </div>
                </div>
              </div>
              <div class="form-group"><label class="col-sm-3 control-label">Gender</label>

                <div class="col-sm-9 controls">
                  <div class="row">
                    <div class="col-xs-9">
                      <div class="radio"><label class="radio-inline"><div class="iradio_minimal-grey checked" style="position: relative;"><input type="radio" value="0" name="gender" checked="checked" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>&nbsp;
                        Male</label><label class="radio-inline"><div class="iradio_minimal-grey" style="position: relative;"><input type="radio" value="1" name="gender" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>&nbsp;
                          Female</label></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-sm-3 control-label">Birthday</label>

                    <div class="col-sm-9 controls">
                      <div class="row">
                        <div class="col-xs-4"><input id="datepicker-normal" type="text" class="form-control"></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-sm-3 control-label">About</label>

                    <div class="col-sm-9 controls">
                      <div class="row">
                        <div class="col-xs-9"><%= f.text_area :about, :class => "form-control" ,:placeholder => "Let others know something about you" %></div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <h3>Contact Setting</h3>

                  <div class="form-group"><label class="col-sm-3 control-label">Mobile Phone</label>

                    <div class="col-sm-9 controls">
                      <div class="row">
                        <div class="col-xs-9"><%= f.text_field :phone, :class => "form-control" ,:placeholder => "mobile phone" %></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-sm-3 control-label">Website</label>

                    <div class="col-sm-9 controls">
                      <div class="row">
                        <div class="col-xs-9"><%= f.text_field :website, :class => "form-control" ,:placeholder => "url to your website" %></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-sm-3 control-label">Facebook</label>

                    <div class="col-sm-9 controls">
                      <div class="row">
                        <div class="col-xs-9"><%= f.text_field :facebook_url, :class => "form-control" ,:placeholder => "url to your fb" %></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group"><label class="col-sm-3 control-label">Twitter</label>

                    <div class="col-sm-9 controls">
                      <div class="row">
                        <div class="col-xs-9"><%= f.text_field :twitter_url, :class => "form-control" ,:placeholder => "url to your twitter profile" %></div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <%= f.submit :Submit, :class => "btn btn-green btn-block" %>

                  <% end %>



              </div>

                        </div>
                      </div>
                    </div>
                  </div>
