<h2>Listing challenges</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.name %></td>
        <td><%= link_to 'Show', challenge %></td>
        <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
        <td><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="panel panel-grey">
  <div class="panel-heading">Listing challenges</div>
  <div class="panel-body">
    <table class="table table-hover-color">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Owner</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @challenges.each do |challenge| %>
          <tr class="<%= cycle("active", "success", "warning", "danger") -%>">
            <td><%= challenge.name %></td>
            <td>category</td>
            <td>
              <% challenge.get_owners.each do |owner| %>
              <%= owner.name %>
              <% end %>
            </td>
            <td>active</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>
