<h2>Listing challenges</h2>



<div class="panel panel-grey">
  <div class="panel-heading">Listing challenges</div>
  <div class="panel-body">
    <table class="table table-hover-color">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Owner</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @my_challenges.each do |challenge| %>
        <tr class="<%= cycle("active", "success", "warning", "danger") -%>">
          <td><%= challenge.name %></td>
          <td>category</td>
          <td>
            <% challenge.get_owners.each do |owner| %>
            <%= owner.name %>
            <% end %>
          </td>
          <% if challenge.starts_on <= DateTime.now && DateTime.now < challenge.ends_on %>
          <td><span class="badge badge-success">Active</span></td>
          <% elsif challenge.ends_on < DateTime.now %>
          <td><span class="badge badge-primary">Over</span></td>
          <% else %>
          <td><span class="badge badge-info">Not yet Started</span></td>

          <% end %>
          <td>
            <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_challenge_path(challenge) %>
          </td>
          <td>
            <%= button_to "<i class='fa fa-trash></i>".html_safe,{ action: "destroy", id: challenge.id }, method: :delete, data: { confirm: "Are you sure?" }  %>
          </td>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

<%= link_to 'New Challenge', new_challenge_path , :class => "btn btn-green navbar-btn"%>
