<!DOCTYPE html>
<html lang="en">
<head>
  <title>Challengify</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oswald:400,700,300" %>
  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <div>
  <!--BEGIN BACK TO TOP-->
  <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
  <!--END BACK TO TOP-->
  <%= render partial: "dashboard/top_bar" %>
  <div id="wrapper">
    <%= render partial: "dashboard/side_left_menu" %>
    <!--BEGIN PAGE WRAPPER-->
    <div id="page-wrapper">
      <!--BEGIN TITLE & BREADCRUMB PAGE-->
      <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
          <div class="page-title">
            Dashboard</div>
          </div>
          <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Dashboard</li>
          </ol>
          <div class="clearfix">
          </div>
        </div>

        <!--END TITLE & BREADCRUMB PAGE-->
        <!--BEGIN CONTENT-->
        <div class="page-content">
          <%= yield %>

          </div></br></br></br>
        <!--END CONTENT-->
        <%= render partial: "dashboard/footer" %>
        </div>
        <!--END PAGE WRAPPER-->
      </div>
    </div>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
